<div class="row mx-0">
    <div class="col-12 p-0">
        <div class="search-bar">
            <div class="col-12 p-0" *ngIf="searchString || searchIsActive">
                <input class="input" type="text" maxlength="50" #search [(ngModel)]="searchString"
                    (keyup)="emitSearchString.emit(searchString)" (blur)="searchIsActive=false">
            </div>
            <div class="col-12 p-0" (click)="activateSearch()" *ngIf="!searchString && !searchIsActive">
                <img class="mx-2" [src]="url+'search.svg'" width="19px" height="19px">
                <p class="title mb-0 d-inline-block">Search {{type}}</p>
            </div>
        </div>
    </div>
</div>