@mixin btn($bgColor, $fntColor) {
    background-color: $bgColor;
    color: $fntColor;
    font-weight: 200;
    width: 200px;

    &:hover {
        background-color: lighten($bgColor, 5%);
    }

    &:focus {
        box-shadow: unset;
    }

    &:disabled {
        background-color: darken($bgColor, 5%);
        opacity: 0.3;
    }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.title {
    color: #999;
    font-size: 22px;
    border-bottom: 2px solid #22b682;
    cursor: default;
}

.image {
    width: 100px;
    height: 100px;
    border: 1.5px solid #ddd;
    border-radius: 50%;
    cursor: pointer;

    &+p {
        color: #ccc;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
    }

    img {
        border-radius: 50%;
    }
}

.custom-input {
    border: unset;
    border-bottom: 1.2px solid rgba(34, 182, 130, 0.5);
    color: #999;

    &:focus {
        outline: unset
    }
}

.main-btn {
    @include btn(#22b682, #fff);
}

.sec-btn {
    @include btn(#185ca7, #fff);

}